@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
html{
  font-family: 'Alata', sans-serif !important;

}
.custom-select {
  width: 220px;
}
/* The container must be positioned relative: */
.custom-select {
  padding: 8px 12px;
  background-color: white;
  color: #004b23;
  border:none;
  border-bottom: 2px solid #c4c4c4;
  cursor: pointer;

  /* replace default styling arrow   */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("./Assets/Sort\ Up.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 20px;
  padding-right: 30px;
}
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
